h1 {
  font-family: "heebo-black";
  font-size: 6rem;
  color: #ffffff;
  text-transform: uppercase;
}

.subtitle-h1 {
  font-family: "heebo-light";
  color: #ffffff;
  font-size: 3.125rem;
  text-transform: uppercase;
  display: block;
  line-height: 0;
}

h2 {
  font-family: "heebo-extrabold";
  font-size: 2rem;
  color: #ffffff;
}

h3 {
  font-family: "heebo-bold";
  font-size: 1.875rem;
  color: #1C2129;
}

h4 {
  font-family: "heebo-bold";
  font-size: 1rem;
  color: #121212;
}

h5 {
  font-family: "heebo-extrabold";
  font-size: 1.125rem;
  color: #ffffff;
}

h6 {
  font-family: "heebo-bold";
  font-size: 1.25rem;
  color: #DAA846;
}

p {
  font-family: "heebo-medium";
  font-size: 0.75rem;
  color: #ffffff;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
}

html {
  font-size: 16px;
  background-color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-fluid {
  width: 100%;
  height: 100vh;
}

.container {
  width: 89%;
}

.block {
  display: flex;
  height: 100%;
}

.block-movie-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 3rem;
}
.block-movie-selected .logo-block, .block-movie-selected #showtime-resume-title, .block-movie-selected #showtime-resume-detail {
  z-index: 100;
}
.block-movie-selected #showtime-resume-image {
  width: 30%;
  height: auto;
  z-index: 100;
}
.block-movie-selected #showtime-resume-image img {
  width: 100%;
}
.block-movie-selected .showtime-resume-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 100;
}
.block-movie-selected .showtime-resume-description .showtime-resume-detail {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.block-movie-selected .showtime-resume-description .showtime-resume-detail #showtime-resume-schedule p {
  font-family: "heebo-medium";
  font-size: 1rem;
  color: #ffffff;
}
.block-movie-selected .showtime-resume-description .showtime-resume-detail #showtime-resume-schedule span {
  font-family: "heebo-medium";
  font-size: 0.625rem;
  color: #b3b3b3;
}

.block-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56%;
  background-color: #F0F0F0;
  height: 100%;
  z-index: 100;
}
.block-selection .header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 1.75rem;
  padding-bottom: 0rem;
}
.block-selection .header-block #auditorium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.block-selection .header-block #auditorium p {
  font-family: "heebo-medium";
  font-size: 1rem;
  color: #1C2129;
}
.block-selection .header-block #auditorium img {
  width: 13px;
}
.block-selection .header-block .back-btn {
  background-color: #1C2129;
}
.block-selection .body-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 0.5rem;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #ffffff;
}
.cart .body-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 170px;
  background-color: #ffffff;
  padding: 1rem 2rem;
}
.cart .body-cart .cart-order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  width: 68%;
  height: 100%;
}
.cart .body-cart .cart-order #cart-resume {
  width: 100%;
  height: 100%;
  max-height: 100px;
  overflow-y: auto;
}
.cart .body-cart .cart-order #cart-resume .cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart .body-cart .cart-order #cart-resume .cart-item p {
  font-family: "heebo-medium";
  font-size: 1rem;
  color: #1C2129;
}
.cart .body-cart .cart-order #cart-resume .cart-item span {
  font-family: "heebo-bold";
  font-size: 1rem;
  color: #1C2129;
}
.cart .body-cart .cart-order #cart-resume .cart-item .snack-cart-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cart .body-cart .cart-order #cart-resume .cart-item .bin-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FEB91E;
  border-radius: 100px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.cart .body-cart .cart-order #cart-resume .cart-item .bin-img img {
  width: 11px;
}
.cart .body-cart .cart-order #cart-resume .cart-item .div-empty {
  width: 19px;
}
.cart .body-cart .cancel-reservation {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.cart .footer-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  background-color: #FFDC7D;
}
.cart .footer-cart .resume-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 67%;
  margin: 0rem 2rem;
}
.cart .footer-cart .resume-total p {
  font-family: "heebo-medium";
  font-size: 1rem;
  color: #000000;
}
.cart .footer-cart .resume-total span {
  font-family: "heebo-extrabold";
  font-size: 1.375rem;
  color: #1C2129;
}
.cart .footer-cart #continue-reservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  background-color: #FEB91E;
  width: 32%;
  cursor: pointer;
}
.cart .footer-cart #continue-reservation p {
  font-family: "heebo-extrabold";
  font-size: 1.25rem;
  color: #181818;
}
.cart .footer-cart #continue-reservation img {
  width: 34px;
}

.opacity-filter {
  background-color: #000000;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.theater {
  display: grid;
  grid-template-columns: repeat(19, minmax(20px, 1fr));
  gap: 4px;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.seat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.seat img {
  height: auto;
  max-width: 20px;
}

.empty-seat {
  pointer-events: none;
}

.occupied {
  pointer-events: none;
}

.available {
  cursor: pointer;
}

.available:hover, .selected:hover {
  transform: scale(1.3);
}

.primary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "heebo-medium";
  font-size: 1.3125rem;
  color: #0C0C0C;
  background-color: #FEB91E;
  border-radius: 15px;
  padding: 1rem 5rem;
  gap: 1rem;
  margin-left: 0.625rem;
  border: solid 1px;
}
.primary-btn img {
  width: 22px;
  height: 22px;
  transform: rotate(315deg);
}

.primary-btn:hover {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.secondary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #61646A;
  font-family: "heebo-extrabold";
  border-radius: 20px;
  padding: 0.625rem 1.5rem;
  z-index: 100;
  margin-top: 1rem;
}
.secondary-btn a {
  color: #ffffff;
}

.tertiary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1C2129;
  font-family: "heebo-extrabold";
  border-radius: 20px;
  padding: 0.625rem 1.5rem;
  z-index: 100;
}
.tertiary-btn a {
  color: #ffffff;
}

.back-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1C2129;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  border: solid 1px #1C2129;
  gap: 1rem;
}
.back-btn span, .back-btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "heebo-medium";
  font-size: 0.875rem;
}
.back-btn img {
  width: 11px;
  height: 11px;
  transform: rotate(180deg);
}

.filter-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 37px;
  background-color: #202020;
  color: #ffffff;
  font-family: "heebo-medium";
  font-size: 1rem;
  border: none;
  padding: 0.2rem 0.75rem;
  text-transform: capitalize;
}

.backtotop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  position: fixed;
  z-index: 10000;
  bottom: 5%;
  right: 5%;
  background-color: #FEB91E;
  border-radius: 10px;
}
.backtotop img {
  transform: rotate(270deg);
  width: 21px;
}

.cancel-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  border-radius: 8px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}
.cancel-btn span {
  color: #ffffff;
  font-family: "heebo-medium";
  font-size: 0.875rem;
}

.add-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1C2129;
  border-radius: 8px;
  padding: 0.3rem 1.5rem;
}
.add-btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "heebo-medium";
  font-size: 0.875rem;
}

.movie-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.movie-card .movie-img img {
  width: 60px;
  height: 80px;
}
.movie-card .movie-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.movie-card .movie-text .title-movie h3 {
  font-family: "heebo-regular";
  font-size: 1.25rem;
  color: #ffffff;
}
.movie-card .movie-text .detail-movie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-family: "heebo-semibold";
  font-size: 0.75rem;
}
.movie-card .movie-text .detail-movie p {
  color: #7f7f7f;
}
.movie-card .movie-text .detail-movie .age-mini {
  display: flex;
  align-items: center;
}
.movie-card .movie-text .detail-movie .age-mini img {
  width: 18px;
}
.movie-card .movie-text .detail-movie .violence-alert {
  display: flex;
  align-items: center;
}
.movie-card .movie-text .detail-movie .violence-alert img {
  width: 24px;
}

.scary-alert {
  background-color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}
.scary-alert p {
  color: #000000;
}

.new-alert {
  background-color: #E20505;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.showtime-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.showtime-row .showtime-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 158px;
  height: 104px;
  border-radius: 15px;
  background-color: #202020;
  padding: 0rem 1rem;
  cursor: pointer;
}
.showtime-row .showtime-card .movie-format img {
  width: 30px;
}
.showtime-row .showtime-card .detail-showtime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.showtime-row .showtime-card .detail-showtime .schedule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.showtime-row .showtime-card .detail-showtime .schedule p {
  font-family: "heebo-regular";
  font-size: 1.625rem;
}
.showtime-row .showtime-card .detail-showtime .schedule p, .showtime-row .showtime-card .detail-showtime .schedule span {
  color: #ffffff;
}
.showtime-row .showtime-card .detail-showtime .schedule span {
  margin-bottom: 0.5rem;
  color: #7f7f7f;
  font-size: 0.8rem;
}
.showtime-row .showtime-card .detail-showtime .handicap img {
  width: 14px;
}

.snack-selection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.875rem;
}
.snack-selection .row-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.snack-selection .row-selection h5 {
  font-family: "heebo-semibold";
  font-size: 1rem;
  color: #000000;
}
.snack-selection .row-selection .snack-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.snack-selection .row-selection .snack-row .snack-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 104px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}
.snack-selection .row-selection .snack-row .snack-card .image-snack img {
  width: 45px;
}
.snack-selection .row-selection .snack-row .snack-card .detail-snack p {
  font-family: "heebo-regular";
  font-size: 0.5rem;
  color: #000000;
}
.snack-selection .row-selection .snack-row .snack-card .detail-snack .add-snack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.snack-selection .row-selection .snack-row .snack-card .detail-snack .add-snack span {
  font-family: "heebo-extrabold";
  font-size: 0.5rem;
  color: #000000;
}
.snack-selection .row-selection .snack-row .snack-card .detail-snack .add-snack .snack-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.snack-selection .row-selection .snack-row .snack-card .detail-snack .add-snack .snack-quantity img {
  width: 10px;
  cursor: pointer;
}
.snack-selection .row-selection .snack-row .snack-card .detail-snack .add-snack .snack-quantity p, .snack-selection .row-selection .snack-row .snack-card .detail-snack .add-snack .snack-quantity .quantity-number {
  font-family: "heebo-extrabold";
  font-size: 0.5rem;
  color: #000000;
}

#pointer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(120, 120, 120, 0.1) 60%, rgba(32, 32, 32, 0) 100%);
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.breadcrumb a, .breadcrumb span {
  font-family: "heebo-medium";
  font-size: 0.75rem;
  color: #ffffff;
}
.breadcrumb span {
  text-decoration: underline;
}

.breadcrumb-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  margin-top: 1.75rem;
  z-index: 100;
}
.breadcrumb-block .breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.75rem;
  color: #ffffff;
  width: 100%;
}
.breadcrumb-block a, .breadcrumb-block span {
  font-family: "heebo-medium";
  font-size: 0.75rem;
  color: #ffffff;
}
.breadcrumb-block span {
  text-decoration: underline;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.4s;
  opacity: 1;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hidden {
  display: none;
}

.payment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  gap: 2.375rem;
}
.payment-section .payment-method {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 2rem 2.25rem;
  width: 90%;
  gap: 1rem;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}
.payment-section .payment-method h5 {
  color: #000000;
  align-self: flex-start;
}
.payment-section .payment-method .payment-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.payment-section .payment-method .payment-row .accordion-header {
  background-color: #ffffff;
  width: 100%;
  padding: 1.25rem 1.75rem;
  border: solid 1px #EDEEF0;
  border-radius: 20px;
}
.payment-section .payment-method .payment-row .accordion-body {
  width: 100%;
  border-radius: 20px;
  border: solid 1px #feb91e;
  padding: 1.25rem;
}
.payment-section .payment-method .payment-row .accordion-body .payment-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.payment-section .payment-method .payment-row .accordion-body .payment-details .label-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.payment-section .payment-method .payment-row .accordion-body .payment-details .crypto-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.payment-section .payment-method .payment-row .accordion-body .payment-details .crypto-card .label-form {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.payment-section .payment-method .payment-row .accordion-body .payment-details p {
  font-size: 0.5rem;
  color: #7b7b7b;
}
.payment-section .payment-method .payment-row .accordion-body .payment-details input {
  width: 100%;
  border: none;
  border-top: solid 1px #7b7b7b;
  border-radius: 20px;
  padding: 0.2rem;
  font-size: 0.6rem;
}

.payment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.payment-header p {
  font-family: "heebo-regular";
  font-size: 1rem;
  color: #000000;
}
.payment-header .payment-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}
.payment-header .payment-icon img {
  width: 35px;
}

.hero-banner {
  width: 100%;
  padding: 2.75rem 3.75rem;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay-homepage {
  position: relative;
  z-index: 2;
}
.overlay-homepage .title-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 13.5rem;
  gap: 4.875rem;
  width: 52%;
}

.select-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 60%;
  gap: 2rem;
}
.select-price .cine-pass {
  position: absolute;
  top: 31%;
  left: 7%;
  z-index: 200;
}
.select-price .cine-pass img {
  width: 50px;
}
.select-price .seat-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 81%;
}
.select-price .seat-price .row-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.875rem;
  border-radius: 15px;
  background-color: #FFDC7D;
  width: 100%;
}
.select-price .seat-price .row-header p {
  font-family: "heebo-bold";
  font-size: 0.75rem;
  color: #202020;
}
.select-price .seat-price .row-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 1.875rem;
  border-radius: 15px;
  background-color: #ffffff;
}
.select-price .seat-price .row-body .price-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.select-price .seat-price .row-body .price-type p {
  font-family: "heebo-bold";
  font-size: 0.75rem;
  color: #1C2129;
}
.select-price .seat-price .row-body .price-type .price-bar {
  height: 1px;
  background-color: #E4E4E4;
  flex: 1;
}
.select-price .seat-price .row-body .price-type .ticket-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.select-price .seat-price .row-body .price-type .ticket-quantity img {
  width: 17px;
}
.select-price .seat-price .row-body .price-type .ticket-quantity p, .select-price .seat-price .row-body .price-type .ticket-quantity .quantity-number {
  font-family: "heebo-extrabold";
  font-size: 1.25rem;
  color: #d9d9d9;
}
.select-price .row-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 81%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.25rem;
}
.filter-row .filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #202020;
  padding: 0rem 1rem;
}
.filter-row .filter-bar #filter-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: none;
  height: 37px;
  background-color: #202020;
}
.filter-row .filter-bar img {
  width: 21px;
}

.movie-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 4rem 0;
}

#free-seats p {
  font-family: "heebo-regular";
  font-size: 1rem;
  color: #666666;
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 30px;
}
.screen .screen-bar {
  width: 39%;
  height: 10px;
  background-color: #DAA846;
}
.screen p {
  font-family: "heebo-bold";
  font-size: 1.25rem;
  color: #DAA846;
}

.seat-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.seat-information .seat-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 54px;
}
.seat-information .seat-legend .seat-picto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.seat-information .seat-legend .seat-picto span {
  font-family: "heebo-medium";
  font-size: 0.75rem;
  color: #1C2129;
}
.seat-information .seat-legend .seat-picto img {
  width: 20px;
}
.seat-information #seat-reserved {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 54px;
  width: 50%;
}
.seat-information #seat-reserved p {
  font-family: "heebo-medium";
  font-size: 0.75rem;
  color: #353535;
}

#make-reservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 66px;
  background-color: #FEB91E;
  width: 100%;
  cursor: pointer;
}
#make-reservation p {
  font-family: "heebo-extrabold";
  font-size: 1.25rem;
  color: #181818;
}
#make-reservation img {
  width: 34px;
}

.cancel-payment {
  padding: 1rem 2rem;
  align-self: flex-end;
}

/*# sourceMappingURL=styles.css.map */
