@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/mixins' as *;



.breadcrumb{
    @include display-flex (row, center, flex-start);
    gap:1rem;
    a, span{
        font-family: "heebo-medium";
        font-size: 0.75rem;
        color: #ffffff;
    }
    span{
        text-decoration: underline;
    }
}

.breadcrumb-block{
    @include display-flex (row, center, flex-start);
    gap:1rem;
    width:100%;
    margin-top: 1.75rem;
    z-index:100;
    .breadcrumb{
        @include display-flex (row, center, center);
        margin-top: 1.75rem;
        color: #ffffff;
        width:100%;
    }
    a, span{
        font-family: "heebo-medium";
        font-size: 0.75rem;
        color: #ffffff;
    }
    span{
        text-decoration: underline;
    }
}


@media (min-width: 1280px){
    .breadcrumb{
        a, span{
            font-size: 1.125rem;
        }
    }

.breadcrumb-block{
        a, span{
            font-size: 1.125rem;
        }
    }
}