@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;


.hero-banner {
    width: 100%;
    padding: 2.75rem 3.75rem;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.overlay-homepage{
    position: relative;
    z-index: 2;
    .title-banner {
        @include display-flex(column, center, flex-start);
        margin-top: 13.5rem;
        gap: 4.875rem;
        width: 52%;
    }
}

#banner-continue-reservation {
    @include display-flex(row, flex-start, center);
    margin-left:0.625rem;
    width:100%;
}

