@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;


#free-seats p{
    font-family: "heebo-regular";
    font-size: 1rem;
    color: #666666;
}

.screen{
    @include display-flex(row, space-between, center);
    width:85%;
    height: 30px;
    .screen-bar{
        width:39%;
        height:10px;
        background-color: #DAA846;
    }
    p{
        font-family: "heebo-bold";
        font-size: 1.25rem;
        color: #DAA846;
    }

}

.seat-information{
    @include display-flex(row, space-between, center);
    width:85%;
    .seat-legend{
        @include display-flex(row, center, center);
        gap: 2rem;
        height: 54px;
        .seat-picto{
            @include display-flex(row, center, center);
            gap:0.5rem;
            span{
                font-family:"heebo-medium";
                font-size: 0.75rem;
                color: $dark-color;
            }
            img {
                width:20px;
            }
        }
    }
    #seat-reserved{
        @include display-flex(row, flex-end, center);
        height: 54px;
        width: 50%;
        p{
            font-family: "heebo-medium";
            font-size: 0.75rem;
            color: #353535;
        }
    }
}

#make-reservation{
    @include display-flex(row, center, center);
    gap: 1rem;
    height:66px;
    background-color: $primary-color;
    width:100%;
    cursor: pointer;
    p{
        font-family:"heebo-extrabold";
        font-size: 1.25rem;
        color: #181818;
    }
    img{
        width: 34px;
    }
}


@media (min-width: 1300px) {
    #free-seats p{
        font-size: 1.5rem;
    }

    .screen{
        height: 45px;
        .screen-bar{
            height:15px;
        }
        p{
            font-size: 1.875rem;
        }

    }

    .seat-information{
        .seat-legend{
            height: 81px;
            .seat-picto{
                span{
                    font-size: 1.125rem;
                }
                img {
                    width:30px;
                }
            }
        }
        #seat-reserved{
            height: 81px;
            width:auto;
            p{
                font-size: 1.125rem;
            }
        }
    }

    #make-reservation{
        height:99px;
        p{
            font-size: 1.875rem;
        }
        img{
            width: 51px;
        }
    }
}
