@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;


.block-selection{
    width: 56%;
    background-color: #F0F0F0;
    height:100%;
    z-index:100;
    .header-block{
        @include display-flex(row, space-between, center);
        padding: 1rem 2rem;
        border-bottom: 1px solid #eeeeee;
        padding: 1.875rem;
        padding-bottom: 0rem;
        margin-bottom: 3.875rem;
        #auditorium{
            @include display-flex(row, center, center);
            gap:0.5rem;
            p{
                font-family: "heebo-medium";
                font-size:1rem;
                color: $dark-color;
            }
            img{
                width:13px;
            }
        }
        .back-btn{
            background-color: $dark-color;
        }

    }
}

#free-seats p{
    font-family: "heebo-regular";
    font-size: 1rem;
    color: #666666;
}

.screen{
    @include display-flex(row, space-between, center);
    width:85%;
    height: 30px;
    .screen-bar{
        width:39%;
        height:10px;
        background-color: #DAA846;
    }
    p{
        font-family: "heebo-bold";
        font-size: 1.25rem;
        color: #DAA846;
    }

}

.seat-information{
    @include display-flex(row, space-between, center);
    width:85%;
    .seat-legend{
        @include display-flex(row, center, center);
        gap: 2rem;
        height: 54px;
        .seat-picto{
            @include display-flex(row, center, center);
            gap:0.5rem;
            span{
                font-family:"heebo-medium";
                font-size: 0.75rem;
                color: $dark-color;
            }
            img {
                width:25px;
            }
        }
    }
    #seat-reserved{
        @include display-flex(row, flex-end, center);
        height: 54px;
        width: 50%;
        p{
            font-family: "heebo-medium";
            font-size: 0.75rem;
            color: #353535;
        }
    }
}

#make-reservation{
    @include display-flex(row, center, center);
    gap: 1rem;
    height:66px;
    background-color: $primary-color;
    width:100%;
    cursor: pointer;
    p{
        font-family:"heebo-extrabold";
        font-size: 1.25rem;
        color: #181818;
    }
    img{
        width: 34px;
    }
}



