@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.filter-row{
    @include display-flex(row, flex-start, center);
    gap: 1.25rem;
    margin-top: 2.25rem;
    .filter-bar{
        @include display-flex(row, center, center);
        gap: 1rem;
        background-color: #202020;
        padding: 0rem 1rem;
        #filter-input{
            @include display-flex(row, center, center);
            color: #ffffff;
            border: none;
            height: 37px;
            background-color: #202020;
        }
        img{
            width: 21px;
        }
    }
}

.movie-row{
    @include display-flex(column, center, flex-start);
    gap: 1rem;
    margin: 4rem 0;
}


@media (min-width:1280px){
    .filter-row .filter-bar{
        #filter-input {
            height: 55px;
        }
        img{
            width: 31px;
        }
    }
}
