@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;


.theater{
    display:grid;
    grid-template-columns: repeat(19, minmax(20px, 1fr));
    gap: 3px;
    justify-content: center;
    padding: 1rem;
    width:100%;
}

.seat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img{
    height:auto;
    max-width:20px;
  }
}

.empty-seat {
    pointer-events: none; // rendre la place vide non cliquable
}

.occupied{
    pointer-events: none; // rendre le siége non cliquable
}

.available{
    cursor: pointer; // changer le curseur au survol pour indiquer que le siége est cliquable
}

.available:hover, .selected:hover {
    transform: scale(1.3); // leger effet de zoom au survol
}

@media (min-width: 1280px) {
    .theater{
        grid-template-columns: repeat(19, minmax(30px, 1fr));
    }

    .seat {
        img{
        max-width:30px;
        }
    }
}