@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as *;


.add-btn{
    @include display-flex(row, center, center);
    background-color: #1C2129;
    border-radius: 8px;
    padding: 0.3rem 1.5rem;
    a{
        @include display-flex(row, center, center);
        gap:1rem;
        text-decoration: none;
        color: #ffffff;
        font-family: "heebo-medium";
        font-size: 0.875rem;
    }
}

@media (min-width:1280px){
    .add-btn{
        a{
            font-size: 1.31rem;
        }
    }
}
