@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as *;


.backtotop{
    @include display-flex (row, center, center);
    width: 44px;
    height: 44px;
    position:fixed;
    z-index: 10000;
    bottom:5%;
    right:5%;
    background-color: $primary-color;
    border-radius: 10px;
    img{
        transform: rotate(270deg);
        width: 21px;
    }
}