@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as *;


.back-btn{
    @include display-flex(row, center, center);
    background-color: #1C2129;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    border: solid 1px #1C2129;
    gap: 1rem;
    span, a{
        @include display-flex(row, center, center);
        gap:1rem;
        text-decoration: none;
        color: #ffffff;
        font-family: "heebo-medium";
        font-size: 0.875rem;
    }
    img{
        width: 11px;
        height: 11px;
        transform: rotate(180deg);
    }
}
.back-btn:focus {
    outline: 2px solid #FEB91E; // bordure de couleur
    outline-offset: 2px; // décalage de 2 px entre le bouton et la bordure
}

@media (min-width:1280px){
    .back-btn{
        span, a{
            font-size: 1.31rem;
        }
        img{
            width: 16px;
            height: 16px;
        }
    }
}