@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as *;


.cancel-btn{
    @include display-flex(row, center, center);
    background-color: #ff0000;
    border-radius: 8px;
    padding: 0.2rem 1rem;
    cursor: pointer;
    span{
        color: #ffffff;
        font-family:"heebo-medium";
        font-size:0.875rem;
    }
}

@media (min-width:1280px){
    .cancel-btn span{
        font-size:1.31rem;
    }
}
