@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as *;


.continue-btn{
    @include display-flex(row, center, center);
    background-color: rgb(27, 182, 42);
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    gap: 1rem;
    width: fit-content;
    span {
        @include display-flex(row, center, center);
        gap:1rem;
        text-decoration: none;
        color: #ffffff;
        font-family: "heebo-medium";
        font-size: 0.875rem;
    }
    img{
        width: 11px;
        height: 11px;
    }
}

.continue-btn:hover{
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}


@media (min-width:1280px){
    .continue-btn{
        span {
            font-size: 1.31rem;
        }
        img{
            width: 16px;
            height: 16px;
        }
    }
}