@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as *;


.tertiary-btn {
    @include display-flex(row, center, center);
    background-color: $dark-color;
    font-family: "heebo-extrabold";
    border-radius: 20px;
    padding: 0.625rem 1.5rem;
    z-index: 100;
    a{
        color: #ffffff;
    }
}

.tertiary-btn:hover{
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}
