@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as *;

.snack-selection{
    @include display-flex(column, flex-start, flex-start);
    overflow-y: auto;
    max-height: 450px;
    gap:0.875rem;
    .row-selection{
        @include display-flex(column, center, flex-start);
        gap:0.5rem;
        h5{
            font-family: "heebo-semibold";
            font-size: 1rem;
            color: #000000;
        }
        .snack-row{
            @include display-flex(row, center, center);
            flex-wrap: wrap;
            gap:1rem;
            .snack-card{
                @include display-flex(column, center, center);
                width:94px;
                height:104px;
                background-color: #ffffff;
                border-radius: 4px;
                box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08);
                .image-snack img{
                    width:45px;
                }
                .detail-snack{
                    p{
                        font-family: "heebo-regular";
                        font-size: 0.5rem;
                        color: #000000;
                    }
                    .add-snack{
                        @include display-flex(row, space-between, center);
                        gap: 0.5rem;
                        span{
                            font-family: "heebo-extrabold";
                            font-size: 0.5rem;
                            color: #000000;
                        }
                        .snack-quantity {
                            @include display-flex(row, center, center);
                            gap:0.2rem;
                            img{
                                width: 10px;
                                cursor: pointer;
                            }
                            p, .quantity-number{
                                font-family: "heebo-extrabold";
                                font-size: 0.5rem;
                                color: #000000;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media (min-width:1300px){
    .snack-selection{
        .row-selection{
            h5{
                font-size: 1.5rem;
             }
            .snack-row{
                .snack-card{
                    @include display-flex(column, center, center);
                    width:141px;
                    height:156px;
                    .image-snack img{
                        width:67px;
                    }
                    .detail-snack{
                        p{
                            font-size: 0.75rem;
                        }
                        .add-snack{
                            span{
                                font-size: 0.75rem;
                            }
                            .snack-quantity {
                                img{
                                    width: 15px;
                                }
                                p, .quantity-number{
                                    font-size: 0.75rem;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}