@use 'colors' as *;

h1{
    font-family: "heebo-black";
    font-size: 6rem;
    color: #ffffff;
    text-transform: uppercase;
}

.subtitle-h1{
    font-family: "heebo-light";
    color:#ffffff;
    font-size: 3.125rem;
    text-transform: uppercase;
    display: block;
    line-height: 0;
}


h2{
    font-family: "heebo-extrabold";
    font-size: 2rem;
    color: #ffffff;
}

h3{
    font-family: "heebo-bold";
    font-size: 1.875rem;
    color: $dark-color;
}

h4{
    font-family: "heebo-bold";
    font-size: 1rem;
    color: #121212;
}

h5{
    font-family: "heebo-extrabold";
    font-size: 1.125rem;
    color: #ffffff;
}

h6{
    font-family: "heebo-bold";
    font-size: 1.25rem;
    color: #DAA846;
}

p{
    font-family: "heebo-medium";
    font-size: 0.75rem;
    color: #ffffff;
}

a{
    text-decoration: none;
}


@media (min-width:1280px){
    h1{
        font-size: 9rem;
    }

    sub.subtitle-h1{
        font-size: 4.68rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.81rem;
    }

    h4{
        font-size: 1.5rem;
    }

    h5{
        font-size: 1.68rem;
    }

    h6{
        font-size: 1.875rem;
    }

    p{
        font-size: 1.125rem;
    }
}