@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;


body{
    @include display-flex(column, center, center);
    button{
        border: none;
    }
}

main{
    @include display-flex(column, center, center);
    position: relative;
    width: 100%;
}

.container-fluid{
    width:100%;
    height:100vh;
}

.container{
    width: 89%;
}

.block{
    display:flex;
    height:100%;
}


.block-movie-selected{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 44%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap:3rem;
    .logo-block, #showtime-resume-title, #showtime-resume-detail{
        z-index: 100;
    }
    #showtime-resume-image {
        width: 30%;
        height: auto;
        z-index: 100;
        img{
            width:100%;
        }
    }
    .showtime-resume-description{
        @include display-flex(column, center, center);
        gap:1rem;
        z-index: 100;
        .showtime-resume-detail {
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            #showtime-resume-schedule {
                p{
                    font-family:"heebo-medium";
                    font-size: 1rem;
                    color: #ffffff;
                }
                span{
                    font-family:"heebo-medium";
                    font-size: 0.625rem;
                    color: #b3b3b3;
                }

            }
        }
    }
}


.block-selection{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56%;
    background-color: #F0F0F0;
    height:100%;
    z-index:100;
    .header-block{
        @include display-flex(row, space-between, center);
        border-bottom: 1px solid #eeeeee;
        padding: 1.75rem;
        padding-bottom: 0rem;
        #auditorium{
            @include display-flex(row, center, center);
            gap:0.5rem;
            p{
                font-family: "heebo-medium";
                font-size:1rem;
                color: $dark-color;
            }
            img{
                width:13px;
            }
        }
        .back-btn{
            background-color: $dark-color;
        }

    }
    .body-block{
        @include display-flex(column, space-between, center);
        flex:1;
        gap: 0.5rem;
    }
}


.cart{
    @include display-flex(column, space-between, center);
    width: 100%;
    height:30%;
    background-color: #ffffff;
    .body-cart{
        @include display-flex(row, space-between, center);
        width:100%;
        height:100%;
        max-height: 170px;
        background-color: #ffffff;
        padding:1rem 2rem;
        .cart-order{
            @include display-flex(column, flex-start, flex-start);
            gap:0.5rem;
            width:68%;
            height:100%;
            #cart-resume{
                width:100%;
                height:100%;
                max-height:100px;
                overflow-y:auto;
                .cart-item{
                    @include display-flex(row, space-between, center);
                    p{
                        font-family: "heebo-medium";
                        font-size: 1rem;
                        color:$dark-color;
                    }
                    span{
                        font-family: "heebo-bold";
                        font-size: 1rem;
                        color:$dark-color;
                    }
                    .snack-cart-price{
                        @include display-flex(row, center, center);
                        gap:0.5rem;
                    }
                    .bin-img{
                        @include display-flex(row, center, center);
                        background-color: $primary-color;
                        border-radius: 100px;
                        width: 19px;
                        height: 19px;
                        cursor: pointer;
                        img{
                            width: 11px;
                        }
                    }
                    .div-empty{
                        width:19px;
                    }
                }
            }
        }
        .cancel-reservation{
            display:flex;
            align-items: flex-start;
            height:100%;
        }
    }
    .footer-cart{
        @include display-flex(row, space-between, center);
        width:100%;
        height:66px;
        background-color: $secondary-color;
        .resume-total{
            @include display-flex(row, space-between, center);
            height: 100%;
            width: 67%;
            margin:0rem 2rem;
            p{
                font-family: "heebo-medium";
                font-size: 1rem;
                color:#000000;
            }
            span{
                font-family:"heebo-extrabold";
                font-size: 1.375rem;
                color: $dark-color;
            }
        }
        #continue-reservation{
            @include display-flex(row, center, center);
            gap: 1rem;
            height: 100%;
            background-color: $primary-color;
            width:32%;
            cursor: pointer;
            p{
                font-family:"heebo-extrabold";
                font-size: 1.25rem;
                color: #181818;
            }
            img{
                width: 34px;
            }
        }
    }
}

#error-msg{
    background-color: red;
    color:#ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
}


.opacity-filter {
    background-color: #000000;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

@media (min-width: 1280px) {
    .block-movie-selected .showtime-resume-description .showtime-resume-detail #showtime-resume-schedule {
        p{
            font-size: 1.5rem;
        }
        span{
            font-size: 0.93rem;
        }
    }


    .block-selection .header-block #auditorium{
        p{
            font-size:1.5rem;
        }
        img{
            width:19px;
        }
    }


    .cart{
        .body-cart{
            max-height: 255px;
            .cart-order #cart-resume .cart-item{
                p, span{
                    font-size: 1.5rem;
                }
                .bin-img{
                    width: 28px;
                    height: 28px;
                    img{
                        width: 16px;
                    }
                }
                .div-empty{
                    width:28px;
                }
            }
        }
        .footer-cart{
            height:99px;
            .resume-total{
                p{
                    font-size: 1.5rem;
                }
                span{
                    font-size: 2.06rem;
                }
            }
            #continue-reservation{
                p{
                    font-size: 1.875rem;
                }
                img{
                    width: 51px;
                }
            }
        }
    }
}